* {
    margin: 0;
    padding: 0;
    font-family: 'IFood RC Textos', sans-serif;
}

@font-face {
    font-family: 'IFood RC Textos';
    src: url(resources/iFoodRCTextos-Regular.ttf) format('truetype');
}

body {
    overflow-x: hidden;
    height: 2000px;
    
}

.container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 136px;
    background-color: #F7F7F7;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    height: 86px;
    border: 1px solid black;
}

.nav-itens {
    width: 50vw;

}

.nav-login {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#entrar {
    margin-left: 40px;
    margin-right: 80px;
    width: 100px;
    height: 45px;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #0E6B0F;
    color: white;
    transition: 0.5s;
}

#entrar:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
}

#logo-ifood {
    width: 170px;
    height: 90px;
    filter: invert(75%);
    pointer-events: none;
    user-select: none;
}

#criar-conta {
    color: #0E6B0F;
    font-weight: bold;
}

a {
    margin-left: 35px;
    text-decoration: none;
    color: black;
}

::selection {
    color: white;
    background-color: #0E6B0F;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

.container-principal {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    height: 700px;
    background-image: url(resources/desktop-background.png);
    background-size: 100%;
}

.container-texto-principal {
    display: flex;
    margin-top: 180px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
}

#titulo {
    font-size: 45px;
    color: #3E3E3E;
    font-weight: 600;
}

#subtitulo {
    margin-top: 5px;
    font-size: 18px;
    color: #3E3E3E;
    font-weight: 100;
}

.pesquisa {
    margin-top: 50px;
}

.pesquisa > input[type=text] {
    width: 360px;
    height: 48px;
    outline: none;
    border: none;
    background-color: #F2F2F2;
    font-size: 15px;
    border-radius: 8px;
    padding-left: 20px;
}

.pesquisa > button {
    width: 228px;
    height: 48px;
    outline: none;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #0E6B0F;

}

.pesquisa > button:hover {
    cursor: pointer;
}

.botoes-container {
    width: 650px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.botoes {
    width: auto;
    margin-left: 5px;
    padding: 8px 16px;
    margin-bottom: 10px;
    color: #717171;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    font-size: .875rem;
    border-radius: 100px;
    cursor: pointer;
}