@font-face {
    font-family: 'iFood RC Textos';
    src: url(resources/iFoodRCTextos-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'iFood RC Titulos';
    src: url('resources/iFoodRCTitulos-Thin.eot');
    src: local('iFood RC Titulos Thin'), local('resources/iFoodRCTitulos-Thin'),
        url('resources/iFoodRCTitulos-Thin.eot?#iefix') format('embedded-opentype'),
        url('resources/iFoodRCTitulos-Thin.woff2') format('woff2'),
        url('resources/iFoodRCTitulos-Thin.woff') format('woff'),
        url('resources/iFoodRCTitulos-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iFood RC Titulos';
    src: url('resources/iFoodRCTitulos-Light.eot');
    src: local('iFood RC Titulos Light'), local('resources/iFoodRCTitulos-Light'),
        url('resources/iFoodRCTitulos-Light.eot?#iefix') format('embedded-opentype'),
        url('resources/iFoodRCTitulos-Light.woff2') format('woff2'),
        url('resources/iFoodRCTitulos-Light.woff') format('woff'),
        url('resources/iFoodRCTitulos-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iFood RC Titulos';
    src: url('resources/iFoodRCTitulos-Bold.eot');
    src: local('iFood RC Titulos Bold'), local('resources/iFoodRCTitulos-Bold'),
        url('resources/iFoodRCTitulos-Bold.eot?#iefix') format('embedded-opentype'),
        url('resources/iFoodRCTitulos-Bold.woff2') format('woff2'),
        url('resources/iFoodRCTitulos-Bold.woff') format('woff'),
        url('resources/iFoodRCTitulos-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iFood RC Titulos';
    src: url('resources/iFoodRCTitulos-Regular.eot');
    src: local('iFood RC Titulos'), local('resources/iFoodRCTitulos-Regular'),
        url('resources/iFoodRCTitulos-Regular.eot?#iefix') format('embedded-opentype'),
        url('resources/iFoodRCTitulos-Regular.woff2') format('woff2'),
        url('resources/iFoodRCTitulos-Regular.woff') format('woff'),
        url('resources/iFoodRCTitulos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iFood RC Titulos';
    src: url('resources/iFoodRCTitulos-ExtraBold.eot');
    src: local('iFood RC Titulos ExtraBold'), local('resources/iFoodRCTitulos-ExtraBold'),
        url('resources/iFoodRCTitulos-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('resources/iFoodRCTitulos-ExtraBold.woff2') format('woff2'),
        url('resources/iFoodRCTitulos-ExtraBold.woff') format('woff'),
        url('resources/iFoodRCTitulos-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iFood RC Titulos';
    src: url('resources/iFoodRCTitulos-Medium.eot');
    src: local('iFood RC Titulos Medium'), local('resources/iFoodRCTitulos-Medium'),
        url('resources/iFoodRCTitulos-Medium.eot?#iefix') format('embedded-opentype'),
        url('resources/iFoodRCTitulos-Medium.woff2') format('woff2'),
        url('resources/iFoodRCTitulos-Medium.woff') format('woff'),
        url('resources/iFoodRCTitulos-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    font-family: 'IFood RC Titulos', sans-serif;

    --texto: 'iFood RC Textos', sans-serif;
    --titulo: 'iFood RC Titulos', sans-serif;
}

body {
    overflow-x: hidden;
    height: 900px;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 136px;
    background-color: #F7F7F7;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    height: 86px;
    border: 1px solid black;
    font-family: var(--texto);
}

.nav-itens {
    width: 50vw;
    
}

.nav-itens > a {
    font-family: var(--texto);
    color: #3D3D3D;
}

.nav-login {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--texto);
}

#entrar {
    margin-left: 37px;
    margin-right: 104px;
    width: 104px;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #0E6B0F;
    font-family: var(--texto);
    font-size: 1rem;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    font-size: 1rem;
    line-height: 1em;
}

#entrar:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.5s;
}

#logo-ifood {
    width: 170px;
    height: 90px;
    filter: invert(75%);
    pointer-events: none;
    user-select: none;
}

#criar-conta {
    color: #0E6B0F;
    font-weight: bold;
    font-family: var(--texto);
    font-size: 1rem;
    line-height: 1em;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    padding: none;
    border: none;


}

.ancora-header {
    font-family: var(--texto);
    margin-left: 35px;
    text-decoration: none;
    color: black;
}

::selection {
    color: white;
    background-color: #004d01;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

.container-principal {
    font-family: var(--texto);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    height: 700px;
    background-image: url(resources/desktop-background.png);
    background-size: 100%;
}

.container-texto-principal {
    font-family: var(--titulo);
    font-weight: 500;
    display: flex;
    margin-top: 180px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
}

#titulo {
    font-size: 54px;
    color: #3E3E3E;
    font-weight: 500;
}

#subtitulo {
    font-family: var(--texto);
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    color: #3E3E3E;
    font-weight: 300;
}

.pesquisa {
    margin-top: 50px;
    font-family: var(--texto);
}

.pesquisa > input[type=text] {
    font-family: var(--texto);
    font-weight: 100;
    width: 360px;
    height: 48px;
    outline: none;
    border: none;
    background-color: #F2F2F2;
    font-size: 15px;
    border-radius: 8px;
    padding-left: 20px;
}

.pesquisa > button {
    font-family: var(--texto);
    width: 228px;
    height: 48px;
    outline: none;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #0E6B0F;

}

.pesquisa > button:hover {
    cursor: pointer;
}

.botoes-container {
    width: 650px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.botoes {
    font-family: var(--titulo);
    font-weight: 300;
    width: auto;
    margin-left: 5px;
    padding: 8px 16px;
    margin-bottom: 10px;
    color: #717171;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    font-size: .875rem;
    border-radius: 100px;
    cursor: pointer;
}

.modal {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.247);
}

.modal-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 700px;
    border-radius: 5px;
    height: 510px;
    background-color: white;
    transition: linear;
}

#modal-p {
    font-weight: 300;
    font-size: 19px;
}

#modal-p2 {
    padding-top: 40px;
    font-weight: 400;
    font-size: 16px;
}

#modal-p3 {
    font-weight: 300;
    font-size: 14px;
}

#botao-pesquisa {
    padding: 5px;
    padding-left: 15px;
    display: flex;
    align-items: center ;
    width: 600px;
    height: 45px;
    background-color: #F7F7F7;
    border-radius: 5px;
}

#modal-input {
    border: none;
    width: 590px;
    outline: none;
    margin-left: 25px;
    background-color: #F7F7F7;
    font-size: 16px;
}

#div-gps {
    display: flex;
    align-items: center;
    width: 600px;
    height: 55px;
    border: 1px solid #F7F7F7;
    background-color: white;
    padding-left: 15px;
}

#div-gps:hover {
    transition: 0.5s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.377)
}

#label-model {
    width: 590px;
    margin-left: 20px;
    font-size: 15px;
    cursor: pointer;
}

#btn-gps {
    display: none;
}

#ancora-modal {
    text-decoration: none;
    color:  #0E6B0F;
    font-weight: 600;
}
